@import url("./reset.css");

#app {
  background-image: none;
  width: 321px;
  height: 571px;
  display: block;
  box-sizing: content-box;
  outline: 10px solid black !important;
  overflow: hidden;
}

h2 {
  font-size: 1.5rem;
  padding: 2em 0;
  line-height: 2;
}

a {
  padding: 1em 0;
  display: block;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(239, 238, 245);
  padding: 1em;
}