@import url("./reset.css");

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  flex-grow: 100%;
  text-align: center;
}
body {
  background: rgb(239, 238, 245);
}
